.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  position: relative;
}

.headSudoku {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: calc(61px + 2rem);
}
.headSudoku .newGame {
  margin-left: 3rem;
}
.headSudoku .help {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  margin-right: 2rem;
}
.headSudoku .help img {
  height: 90%;
}

.mainSudoku {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  border: 1px solid;
}

.instructionDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 70px;
  background-color: white;
  width: 100%;
  height: 90%;
  z-index: 5;
  scroll-behavior: smooth;
  overflow: scroll;
  border: 2px solid grey;
}

.ocultar {
  display: none;
}

.instruction {
  background-color: white;
  width: 90%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
}
.instruction .closeInst {
  text-align: center;
  background-color: red;
  color: white;
  position: sticky;
  left: 90%;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
}
.instruction h3 {
  margin: 0.5rem 0 0.5rem 0;
}
.instruction p {
  text-align: justify;
  text-indent: 2rem;
}
.instruction ul {
  padding-left: 4rem;
}
.instruction ul li {
  padding-bottom: 0.25rem;
}

.btn {
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
}

.btnNumList {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.btnNumList .btnNum {
  font-size: 1.5rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px grey;
}

.btnModoList {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1rem;
}
.btnModoList .btnModo {
  font-size: 1.5rem;
  width: 3.25rem;
  height: 3.25rem;
  border: 1px solid black;
  box-shadow: 2px 2px grey;
  border-radius: 1.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnModoList .btnModo .img {
  width: 2rem;
  height: 2rem;
}

.numList {
  margin: 0;
  width: 33.333333%;
  height: 33.33333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.numList .posibleNum {
  font-size: 0.5rem;
  color: lightgrey;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

.celd {
  margin: 0;
  display: flex;
  min-width: auto;
  height: 100%;
  z-index: 3;
}
.celd .celdSection {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 2.5rem;
  border: 1px solid grey;
}
.celd .celdSection .checkNumber {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.celd .celdSection .checkNumber img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: column;
  width: auto;
  height: ato;
}
.row .rowSection {
  display: flex;
  height: 2.5rem;
}

.lineHor {
  height: 2px;
  width: 100%;
  background-color: black;
  display: inline-flex;
}

.lineVer {
  height: 100%;
  width: 2.5px;
  background-color: black;
}

.board {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 4px solid black;
  margin-bottom: 1rem;
}
.board .win {
  width: 23rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board .win .congrats {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
}
.board .win .time {
  font-size: 1.25rem;
  margin-top: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
