@import "../base/settings";

.buscaminas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
        width: 100%;
    }
}

.mainBuscaminas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.boardBuscaminas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border-top: 4px solid #999999;
    border-left: 4px solid #999999;
    border-bottom: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
}

.rowBuscaminas {
    width: auto;
    height: 2rem;
    display: flex;
}

.celdBuscaminas {
    width: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #E5E5E5;
    box-sizing: border-box;
    // border-radius: 4px;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-bottom: 3px solid #999999;
    border-right: 3px solid #999999;
    // box-shadow: inset 2px 2px 8px grey;
}

.ocultar {
    display: none;
}

.mostrar {
    display: flex;
}

