.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: $secundary-color;
  h2 {
    color: $soft-blue1;
  }
  .frontend {
    display: grid;
    grid-template-columns: repeat(2, 17rem);
    justify-content: center;
    align-items: center;
    row-gap: 3rem;

    .contactContainer-card {
      display: flex;
      align-items: center;
      gap: 1rem;
      .contactContainer-card--img {
        height: 7rem;
        width: 7rem;
        border-radius: 30%;
        background-color: $soft-orange;
        box-shadow: $box-shadow;
        img {
          height: 7rem;
          width: 7rem;
          border-radius: 30%;
          object-fit: contain;
        }
      }
      .contactContainer-card--contact {
        p {
          margin-top: 0;
        }
        .contactContainer-card--socials {
          display: flex;
          gap: 1rem;
          font-size: 2rem;
          a {
            i {
              color: $main-color;
            }
          }
        }
      }
    }
  }
  .backend {
    .contactContainer-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      text-align: center;
      .contactContainer-card--img {
        height: 7rem;
        width: 7rem;
        border-radius: 30%;
        background-color: $soft-orange;
        box-shadow: $box-shadow;
        img {
          height: 7rem;
          width: 7rem;
          border-radius: 30%;
          object-fit: contain;
        }
      }
      .contactContainer-card--contact {
        p {
          margin-top: 0;
        }
        .contactContainer-card--socials {
          display: flex;
          gap: 1rem;
          font-size: 2rem;
          color: $main-color;
          a {
            i {
              color: $main-color;
            }
          }
        }
      }
    }
  }
  @include media-up("tablet") {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    gap: 3rem;
    .frontend {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 6rem;
      row-gap: 3rem;
      .contactContainer-card {
        gap: 3rem;
        .contactContainer-card--img {
          width: 12rem;
          height: 12rem;
          img {
            width: 12rem;
            height: 12rem;
          }
        }
        .contactContainer-card--contact {
          .contactContainer-card--socials {
            font-size: 3rem;
          }
        }
      }
    }
    .backend {
      .contactContainer-card {
        gap: 2rem;
        .contactContainer-card--img {
          width: 12rem;
          height: 12rem;
          img {
            width: 12rem;
            height: 12rem;
          }
        }
        .contactContainer-card--contact {
          .contactContainer-card--socials {
            font-size: 3rem;
          }
        }
      }
    }
  }
  @include media-up("desktop") {
    margin-top: 4rem;
    gap: 0;
  //   .frontend,
  //   .backend {
  //     .contactContainer-card {
  //       .contactContainer-card--img {
  //         width: 14rem;
  //         height: 14rem;
  //         img {
  //           width: 14rem;
  //           height: 14rem;
  //         }
  //       }
  //     }
  //   }
  }
}
