.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  margin-top: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  .homeContainer-card {
    justify-self: center;
    width: 32rem;
    height: 35rem;
    border: 0.2rem solid $soft-blue;
    border-radius: 2rem;
    box-shadow: $box-shadow;
    &:hover {
      transform: translateY(-0.5rem);
    }
    a {
      color: $secundary-color;
      text-decoration: none;
      h2 {
        font-size: 2.2rem;
        line-height: 1.936;
        font-weight: 700;
      }
      img {
        width: 20rem;
        height: 20rem;
        border-radius: 5px;
        // box-shadow: $box-shadow;
        object-fit: contain;
      }
    }
  }
  .homeContainer-card--ranking {
    margin-top: 5px;
    font-size: 1.6rem;
  }
  @include media-up("tablet") {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 35.4rem);
    grid-auto-rows: 38.4rem;
    justify-content: center;
    align-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    gap: 0;
    padding: 0;

    .homeContainer-card {
      justify-self: center;
      width: 32rem;
      height: 35rem;
      border: 0.2rem solid $soft-blue;
      border-radius: 2rem;
      box-shadow: $box-shadow;
      a {
        height: auto;
      }
    }
  }
  @include media-up("desktop") {
    position: relative;
    margin: 0 auto;
  }
}
