.navBar {
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  top: 6.5rem;
  width: 100%;
  box-shadow: $box-shadow;
  background-color: $soft-blue1;

  a {
    padding: 0.6rem 0;
    font-size: 1.6rem;
    line-height: 1.94rem;
    font-weight: 700;
    color: $soft-blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
