.rankingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  text-align: center;
  .rankingContainer-global,
  .rankingContainer-games {
    h2 {
      font-size: 2rem;
      text-transform: uppercase;
      color: $secundary-color;
    }
    table {
      margin: 0 auto;
      width: 23.5rem;
      font-size: 1.6rem;
      border-radius: 1rem;
      box-shadow: $box-shadow;
      text-align: center;
      scroll-snap-align: center;

      th,
      td {
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        border-bottom: 1px solid $soft-blue;
      }
    }
  }
  .rankingContainer-global {
    tr {
      &:nth-of-type(n + 7) {
        display: none;
      }
    }
  }
  .rankingContainer-games {
    tr {
      &:nth-of-type(n + 7) {
        display: none;
      }
    }
  }
  .rankingContainer-games {
    display: flex;
    gap: 3rem;
    height: 26rem;
    padding: 0 9.45rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
  }
  @include media-up("tablet") {
    gap: 3rem;
    .rankingContainer-global {
      table {
        tr {
          &:nth-of-type(n) {
            display: table-row;
          }
        }
      }
    }
    .rankingContainer-games {
      height: 43rem;
      gap: 7rem;
      padding: 0 26.3344rem;
      table {
        tr {
          &:nth-of-type(n + 7) {
            display: table-row;
          }
        }
      }
    }
  }
  @include media-up("desktop") {
    flex-direction: row;
    align-items: center;
    height: 85vh;
    margin-top: 0;
    padding: 0 4rem;
    gap: 3rem;
    .rankingContainer-global {
      table {
        tr {
          &:nth-of-type(n) {
            display: table-row;
          }
        }
      }
    }
    .rankingContainer-games {
      padding: 0 2rem 0 2rem;
      margin-top: 4rem;
      gap: 4rem;
    }
  }
}
