$celdaDim: 2.5rem;

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100vh;
    margin-left: 30%;
    border: 1px solid black;
}

.newGame{
    margin-bottom: 2rem;
}

.btnNumList{
    display: flex;
    width: 85%;
    justify-content: space-around;
    margin-bottom: 1rem;

    .btnNum{
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
    }
}

.btnModoList{
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
    margin-bottom: 1rem;

    .btnModo{
        font-size: 1.5rem;
        width: 5rem;
        height: 2rem;
        border-radius: 0.5rem;
    }
}

.numList{
    margin: 0; 
    width: 33.333333%;
    height: 33.33333%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .posibleNum {
        font-size: 0.5rem;
        color: lightgrey;
        text-align: center;
        margin: 0;
        width: 100%;
        height: 100%;
    }
}
.celd{
    margin: 0;
    display:flex;       
    min-width: auto;
    height: 100%;
    z-index: 3;

    .celdSection{
        display: flex;
        flex-wrap:wrap; 
        height: 100%;
        width: $celdaDim;
        border: 1px solid grey;

        .checkNumber{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            p{
                font-size: 2rem;
                margin: 0;
                padding: 0;
            }
        }
    }   
}

.celd:hover{
    border: 1px sold gold;
}

.row{
    display: flex;
    flex-direction: column;
    width: auto;
    height: ato;

    .rowSection{
        display: flex;
        height: $celdaDim;
    }
}

.lineHor{
    height: 2px;
    width: 100%;
    background-color: black;
    display: inline-flex;
}

.lineVer{
    height: 100%;
    width: 2.5px;
    background-color: black;
}

.board{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border: 4px solid black;
}

