/*
1. Position
2. Box model
3. Typographic
4. Visuals
5. Miscelaneos
*/


$main-color: #191d2b;
$secundary-color: #27ae60;
$third-color: #f7931a;
$soft-orange: #ffe9d4;
$soft-blue: #d5edff;
$background: #faf8f7;
$white: #fff;
$box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
$normalized_font_family: 'Poppins', sans-serif;

