@charset "UTF-8";
/*----UI---- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/*
1. Position
2. Box model
3. Typographic
4. Visuals
5. Miscelaneos
*/
/*--VARIABLES UI*/
/*--VARIBLES-WORDLE--*/
/*--SUDOKU-VARIABLES--*/
/*----COMPONENTS---- */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: #191d2b;
  color: #27ae60;
}
.headerContainer .headerContainer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
}
.headerContainer .headerContainer-logo p {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}
.headerContainer .headerContainer-player--name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer .headerContainer-player--name p {
  justify-content: center;
  font-size: 2rem;
  line-height: 2.478rem;
  font-weight: 700;
  text-align: center;
  color: #d5edff;
}
.headerContainer .headerContainer-player--points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem 1rem 0.5rem 0;
  border-radius: 50px;
  border: 2px solid #d5edff;
}
.headerContainer .headerContainer-player--points p {
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
  text-align: center;
}

.landingPage {
  background-color: #191d2b;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  background-color: #1d2532;
}
.navBar a {
  padding: 0.6rem 0;
  font-size: 1.6rem;
  line-height: 1.94rem;
  font-weight: 700;
  color: #d5edff;
  text-decoration: none;
}
.navBar a:hover {
  text-decoration: underline;
}

/*
1. Position
2. Box model
3. Typographic
4. Visuals
5. Miscelaneos
*/
/*--VARIABLES UI*/
/*--VARIBLES-WORDLE--*/
/*--SUDOKU-VARIABLES--*/
.sudoku {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sudoku-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
}
.sudoku-instructionDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0px;
  background-color: white;
  max-height: calc(100vh - 10rem);
  z-index: 5;
  scroll-behavior: smooth;
  overflow: scroll;
}
.sudoku-aceptar {
  width: 10rem;
  height: 3rem;
  margin: 7rem 0 2rem 0;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 1.5rem;
}

.dificult {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 342px;
  height: 346px;
  border: 2px solid black;
  top: 8rem;
  left: 1.5rem;
  z-index: 5;
}

.choice {
  display: flex;
  width: 20rem;
  height: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #f7931a;
  background-color: #ffe9d4;
  margin: 2rem 0 0 0;
  border-radius: 2rem;
  border: none;
}

.newGame {
  margin: 0 0 0 3rem;
}
.newGame-btn {
  background-color: #fff;
  color: #191d2b;
  min-width: 40px;
  height: 40px;
  font-size: 19px;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.reset {
  background-color: #fff;
  height: 40px;
  width: 40px;
  font-size: 19px;
  font-weight: bold;
  color: #191d2b;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.help {
  background-color: #fff;
  height: 40px;
  width: 40px;
  font-size: 19px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 0 3rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.ocultar {
  display: none;
}

.mostrar {
  display: flex;
}

.instruction {
  background-color: white;
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  overflow: visible;
}
.instruction-closeInst {
  font-size: 3rem;
  padding: 5px;
  text-align: center;
  color: #c03030;
  background-color: #ffe9d4;
  position: sticky;
  left: 90%;
  top: 3rem;
  width: calc(3rem + 4px);
  border-radius: calc((3rem + 10px) / 2);
}
.instruction-closeInst:hover {
  background-color: #c03030;
  color: #ffe9d4;
}
.instruction h3 {
  font-size: 2.5rem;
  margin: 1.5rem 0 0.5rem 0;
  text-align: center;
}
.instruction p {
  font-size: 1.25rem;
  text-align: justify;
}
.instruction ul {
  padding-left: 1rem;
}
.instruction ul li {
  font-size: 1.25rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}
.instruction ul li span {
  font-weight: bolder;
  margin: 0 0 0.5rem 0;
}
.instruction ul li button {
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  width: 40px;
  height: 40px;
  border: 3px solid #27ae60;
  border-radius: 20px;
  margin: 1rem;
}
.instruction ul li button img {
  width: 20px;
  height: 20px;
}

.mainSudoku {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}

.board {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #191d2b;
}

.win {
  width: 337px;
  height: 339px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #191d2b;
}
.win .congrats {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.win .time {
  font-size: 14px;
}

.row {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.row .rowSection {
  display: flex;
  height: 3.8rem;
}

.lineHor {
  height: 2px;
  width: 100%;
  background-color: #191d2b;
  display: inline-flex;
}

.lineVer {
  height: 100%;
  width: 2px;
  background-color: #191d2b;
}

.celd {
  margin: 0;
  display: flex;
  background-color: #d5edff;
  width: 3.8rem;
  height: 3.8rem;
  box-sizing: border-box;
  z-index: 3;
}
.celd .celdSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #faf8f7;
}
.celd .celdSection .checkNumber {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}
.celd .celdSection .checkNumber .blockValue {
  font-size: 2.5rem;
  font-weight: bold;
  color: #191d2b;
}
.celd .celdSection .checkNumber .unBlockValue {
  font-size: 2.5rem;
  color: #191d2b;
}

.btnNumList {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 2rem 0 1rem 0;
}
.btnNumList .btnNum {
  font-size: 14px;
  color: white;
  background-color: #191d2b;
  width: 32px;
  height: 32px;
  border: 1px solid #191d2b;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.btnModoList {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 2rem 0 0 0;
}
.btnModoList .btnModo {
  background-color: #fff;
  height: 50px;
  width: 50px;
  font-size: 19px;
  border: 1px solid #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
.btnModoList .btnModo .img {
  width: 2.5rem;
  height: 2.5rem;
}

.numList {
  margin: 0;
  width: 33.333333%;
  height: 33.33333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.numList .posibleNum {
  font-size: 1rem;
  color: #191d2b;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

.gameLand {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=App.css.map */
