@charset "UTF-8";
/*----UI---- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

html,
button,
input,
select,
textarea {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/*
1. Position
2. Box model
3. Typographic
4. Visuals
5. Miscelaneos
*/
/*--BREAKPOINTS--*/
/*--MAIN-FONT--*/
/*--GAME-FONT--*/
/*--VARIABLES-UI--*/
/*--VARIBLES-WORDLE--*/
/*--SUDOKU-VARIABLES--*/
/*--MEMORY-VARIABLES--*/
/*----COMPONENTS---- */
.aboutContainer {
  margin: 13rem 1.8rem 0 1.8rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #1d2532;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 11rem 1rem 0rem 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #27ae60;
}
.contactContainer h2 {
  color: #1d2532;
}
.contactContainer .frontend {
  display: grid;
  grid-template-columns: repeat(2, 17rem);
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}
.contactContainer .frontend .contactContainer-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contactContainer .frontend .contactContainer-card .contactContainer-card--img {
  height: 7rem;
  width: 7rem;
  border-radius: 30%;
  background-color: #ffe9d4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
.contactContainer .frontend .contactContainer-card .contactContainer-card--contact p {
  margin-top: 0;
}
.contactContainer .frontend .contactContainer-card .contactContainer-card--contact .contactContainer-card--socials {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  color: #191d2b;
}
.contactContainer .backend .contactContainer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.contactContainer .backend .contactContainer-card .contactContainer-card--img {
  height: 7rem;
  width: 7rem;
  border-radius: 30%;
  background-color: #ffe9d4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
.contactContainer .backend .contactContainer-card .contactContainer-card--contact p {
  margin-top: 0;
}
.contactContainer .backend .contactContainer-card .contactContainer-card--contact .contactContainer-card--socials {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  color: #191d2b;
}
@media screen and (min-width: 768px) {
  .contactContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    gap: 3rem;
  }
  .contactContainer .frontend {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
  .contactContainer .frontend .contactContainer-card {
    gap: 3rem;
  }
  .contactContainer .frontend .contactContainer-card .contactContainer-card--img {
    width: 10rem;
    height: 10rem;
  }
  .contactContainer .frontend .contactContainer-card .contactContainer-card--contact .contactContainer-card--socials {
    font-size: 3rem;
  }
  .contactContainer .backend .contactContainer-card {
    gap: 3rem;
  }
  .contactContainer .backend .contactContainer-card .contactContainer-card--img {
    width: 10rem;
    height: 10rem;
  }
  .contactContainer .backend .contactContainer-card .contactContainer-card--contact .contactContainer-card--socials {
    font-size: 3rem;
  }
}

.footerContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d5edff;
}
.footerContainer a {
  font-size: 1rem;
  line-height: 1.21rem;
  font-weight: 700;
  text-align: center;
  color: #191d2b;
  text-decoration: none;
  cursor: pointer;
}
.footerContainer a:hover {
  text-decoration: underline;
}

.headerContainer {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #191d2b;
  color: #27ae60;
  z-index: 10;
}
.headerContainer .headerContainer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
}
.headerContainer .headerContainer-logo p {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}
.headerContainer .headerContainer-player--name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer .headerContainer-player--name p {
  font-size: 2rem;
  line-height: 2.478rem;
  font-weight: 700;
  text-align: center;
  color: #d5edff;
}
.headerContainer .headerContainer-player--points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem 1rem 0.5rem 0;
  border-radius: 50px;
  border: 2px solid #d5edff;
}
.headerContainer .headerContainer-player--points p {
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .headerContainer {
    justify-content: space-around;
  }
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  margin-top: 11rem;
  padding-bottom: 5rem;
  text-align: center;
}
.homeContainer .homeContainer-card {
  justify-self: center;
  width: 32rem;
  height: 35rem;
  border: 0.2rem solid #d5edff;
  border-radius: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
.homeContainer .homeContainer-card:hover {
  transform: translateY(-0.5rem);
}
.homeContainer .homeContainer-card a {
  color: #27ae60;
  text-decoration: none;
}
.homeContainer .homeContainer-card a h2 {
  font-size: 2.2rem;
  line-height: 1.936;
  font-weight: 700;
}
.homeContainer .homeContainer-card a img {
  width: 20rem;
  height: 20rem;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.homeContainer .homeContainer-card--ranking {
  margin-top: 5px;
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .homeContainer {
    display: grid;
    grid-template-columns: repeat(2, 35.4rem);
    grid-auto-rows: 38.4rem;
    justify-content: center;
    align-self: center;
    gap: 0;
    height: 85vh;
    margin: 20% auto 0 auto;
    padding: 0;
  }
  .homeContainer .homeContainer-card {
    justify-self: center;
    width: 32rem;
    height: 35rem;
    border: 0.2rem solid #d5edff;
    border-radius: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  }
  .homeContainer .homeContainer-card a {
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .homeContainer {
    max-width: 102.4rem;
    margin: 10rem auto 0;
    column-gap: 25rem;
  }
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}
.landingPage .landingPage-title {
  width: 100%;
  margin-top: 13rem;
  padding: 5rem 0;
  background: url("https://i.postimg.cc/vZhFwQmJ/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
.landingPage .landingPage-title h1 {
  font-size: 5.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #27ae60;
}
.landingPage .landingPage-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.landingPage .landingPage-login .btn {
  margin-top: 2.6rem;
  padding: 0.8rem 2.1rem;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 1.94rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  color: #1d2532;
  cursor: pointer;
}
.landingPage .landingPage-login .btn:hover {
  text-decoration: none;
}
.landingPage .landingPage-login a {
  font-size: 1.4rem;
  line-height: 1.74rem;
  font-weight: 700;
  color: #1d2532;
  text-decoration: none;
}
.landingPage .landingPage-login a:hover {
  text-decoration: underline;
}
.landingPage .landingPage-login .registration {
  margin-top: 1rem;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginContainer .loginContainer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 311.031px;
  width: 100%;
  margin-top: 13rem;
  background-color: #191d2b;
  background: url("https://i.postimg.cc/vZhFwQmJ/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
.loginContainer .loginContainer-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-size: "Inter", sans-serif;
  text-align: center;
}
.loginContainer .loginContainer-form form label {
  display: flex;
  flex-direction: column;
}
.loginContainer .loginContainer-form form label span {
  margin-bottom: 8px;
  font-weight: 700;
  color: #27ae60;
}
.loginContainer .loginContainer-form form label input {
  padding: 0.5rem;
  font-size: 1.6rem;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
  text-align: center;
  background-color: #d5edff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
.loginContainer .loginContainer-form form .btn {
  padding: 0.8rem 2.1rem;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 1.94rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  color: #1d2532;
  background-color: #fff;
  cursor: pointer;
}
.loginContainer .loginContainer-form form .btn:hover {
  text-decoration: none;
}
.loginContainer .loginContainer-form .loading {
  width: 10rem;
  height: 10rem;
}
.loginContainer .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  height: 138.172px;
}
.loginContainer .links a {
  font-size: 1.4rem;
  line-height: 1.74rem;
  font-weight: 700;
  color: #1d2532;
  text-decoration: none;
}
.loginContainer .links a:hover {
  text-decoration: underline;
}

.navBar {
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  top: 6.5rem;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  background-color: #1d2532;
  z-index: 10;
}
.navBar a {
  padding: 0.6rem 0;
  font-size: 1.6rem;
  line-height: 1.94rem;
  font-weight: 700;
  color: #d5edff;
  text-decoration: none;
}
.navBar a:hover {
  text-decoration: underline;
}

.rankingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 10rem;
  text-align: center;
}
.rankingContainer .rankingContainer-global h2,
.rankingContainer .rankingContainer-games h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #27ae60;
}
.rankingContainer .rankingContainer-global table,
.rankingContainer .rankingContainer-games table {
  margin: 0 auto;
  width: 23.5rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  text-align: center;
  scroll-snap-align: center;
}
.rankingContainer .rankingContainer-global table th,
.rankingContainer .rankingContainer-global table td,
.rankingContainer .rankingContainer-games table th,
.rankingContainer .rankingContainer-games table td {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-bottom: 1px solid #d5edff;
}
.rankingContainer .rankingContainer-global tr:nth-of-type(n + 7) {
  display: none;
}
.rankingContainer .rankingContainer-games tr:nth-of-type(n + 7) {
  display: none;
}
.rankingContainer .rankingContainer-games {
  display: flex;
  gap: 3rem;
  height: 26rem;
  padding: 0 9.45rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
@media screen and (min-width: 768px) {
  .rankingContainer {
    gap: 3rem;
    margin-top: 12rem;
  }
  .rankingContainer .rankingContainer-global table tr:nth-of-type(n) {
    display: table-row;
  }
  .rankingContainer .rankingContainer-games {
    height: 43rem;
    gap: 7rem;
    padding: 0 263.344px;
  }
  .rankingContainer .rankingContainer-games table tr:nth-of-type(n + 7) {
    display: table-row;
  }
}
@media screen and (min-width: 1024px) {
  .rankingContainer {
    flex-direction: row;
    align-items: center;
    height: 90vh;
    margin-top: 0;
    padding-top: 6rem;
    gap: 10rem;
  }
  .rankingContainer .rankingContainer-global table tr:nth-of-type(n) {
    display: table-row;
  }
  .rankingContainer .rankingContainer-games {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: unset;
    height: auto;
    gap: 3rem;
    padding: 0;
  }
  .rankingContainer .rankingContainer-games table tr:nth-of-type(n + 8) {
    display: none;
  }
}

.registrationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.registrationContainer .registration-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96.157px;
  text-align: center;
  background-color: #191d2b;
}
.registrationContainer .registration-title a {
  display: flex;
  align-items: center;
  height: 80%;
  text-transform: uppercase;
  color: #27ae60;
  text-decoration: none;
}
.registrationContainer .registration-title a h2 {
  margin: auto 0;
  font-size: 4.8rem;
}
.registrationContainer .registration-title a:hover {
  text-decoration: none;
}
.registrationContainer .registrationContainer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 29rem;
  margin-top: 10rem;
  margin-bottom: 2.6rem;
}
.registrationContainer .registrationContainer-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #27ae60;
}
.registrationContainer .registrationContainer-form label input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 2px solid #1d2532;
  outline: none;
  resize: none;
  background-color: #d5edff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
.registrationContainer .registrationContainer-form .btn {
  padding: 0.8rem 2.1rem;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 1.94rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  color: #1d2532;
  background-color: #fff;
  cursor: pointer;
}
.registrationContainer .registrationContainer-form .btn:hover {
  text-decoration: none;
}
.registrationContainer .registrationContainer-form button {
  justify-self: center;
  align-self: center;
}
.registrationContainer a {
  font-size: 1.4rem;
  line-height: 1.74rem;
  font-weight: 700;
  color: #1d2532;
  text-decoration: none;
}
.registrationContainer a:hover {
  text-decoration: underline;
}

/*
1. Position
2. Box model
3. Typographic
4. Visuals
5. Miscelaneos
*/
/*--BREAKPOINTS--*/
/*--MAIN-FONT--*/
/*--GAME-FONT--*/
/*--VARIABLES-UI--*/
/*--VARIBLES-WORDLE--*/
/*--SUDOKU-VARIABLES--*/
/*--MEMORY-VARIABLES--*/
.tablero-container {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tablero-container .dificultad {
  height: 300px;
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.tablero-container .dificultad .botonDificultad {
  width: 150px;
  height: 30px;
  font-size: 14px;
  border: 2px solid #ffe9d4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  background-color: #d5edff;
  border-radius: 5px;
}
.tablero-container .dificultad .botonDificultad:hover {
  background-color: #d5edff9a;
}
.tablero-container .dificultad .botonDificultad:active {
  background-color: #d5edff;
  font-size: 20px;
}
.tablero-container .tablero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 20px;
}
.tablero-container .tablero .fila {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 1px;
}
.tablero-container .tablero .fila .casilla {
  width: 37px;
  height: 32px;
  margin: 3px;
  border-radius: 5px;
  background-color: #d5edff;
  border: 2px solid #ffe9d4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bolder;
}
.tablero-container .tablero .fila #exacto {
  background-color: #03a300;
}
.tablero-container .tablero .fila #existe {
  background-color: #fce5aa;
}
.tablero-container .tablero .fila #inexistente {
  background-color: #939393;
}
.tablero-container .teclado {
  margin: 2rem;
}
.tablero-container .teclado .linea1, .tablero-container .teclado .linea2, .tablero-container .teclado .linea3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px;
}
.tablero-container .teclado .linea1 .teclas, .tablero-container .teclado .linea2 .teclas, .tablero-container .teclado .linea3 .teclas {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 27.5px;
  height: 32px;
  color: white;
  background: #000000;
  border-radius: 5px;
  margin: 2px;
}
.tablero-container .teclado .linea1 .teclas:hover, .tablero-container .teclado .linea2 .teclas:hover, .tablero-container .teclado .linea3 .teclas:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.tablero-container .teclado .linea1 .teclas:active, .tablero-container .teclado .linea2 .teclas:active, .tablero-container .teclado .linea3 .teclas:active {
  background-color: #000000;
  font-size: 20px;
}
.tablero-container .teclado .linea1 #especial, .tablero-container .teclado .linea2 #especial, .tablero-container .teclado .linea3 #especial {
  width: 44px;
}

/*
1. Position
2. Box model
3. Typographic
4. Visuals
5. Miscelaneos
*/
/*--BREAKPOINTS--*/
/*--MAIN-FONT--*/
/*--GAME-FONT--*/
/*--VARIABLES-UI--*/
/*--VARIBLES-WORDLE--*/
/*--SUDOKU-VARIABLES--*/
/*--MEMORY-VARIABLES--*/
.sudokuApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.sudoku {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}
.sudoku-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.1rem;
  width: 100%;
}
.sudoku-instructionDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 9.7rem;
  background-color: white;
  max-height: calc(100vh - 10rem);
  z-index: 5;
  scroll-behavior: smooth;
  overflow: scroll;
}
@media screen and (min-width: 1024px) {
  .sudoku {
    max-width: 70vw;
  }
}

.dificult {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 342px;
  height: 346px;
  border: 2px solid black;
  top: 8rem;
  left: 1.5rem;
  z-index: 5;
}
.dificult-aceptar {
  width: 10rem;
  height: 3rem;
  margin: 7rem 0 2rem 0;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 1.5rem;
}

.choice {
  display: flex;
  width: 20rem;
  height: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #f7931a;
  background-color: #ffe9d4;
  margin: 2rem 0 0 0;
  border-radius: 2rem;
  border: none;
}

.newGame {
  margin: 0 0 0 3rem;
}
.newGame-btn {
  background-color: #fff;
  color: #191d2b;
  min-width: 40px;
  height: 40px;
  font-size: 19px;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .newGame-btn {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }
}
@media screen and (min-width: 768px) {
  .newGame {
    margin: 3rem 0 0 3rem;
  }
}

.reset {
  background-color: #fff;
  height: 40px;
  width: 40px;
  font-size: 19px;
  font-weight: bold;
  color: #191d2b;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .reset {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 3rem 0 0 3rem;
  }
}

.help {
  background-color: #fff;
  height: 40px;
  width: 40px;
  font-size: 19px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 0 3rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .help {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 3rem 0 0 3rem;
  }
}

.ocultar {
  display: none;
}

.mostrar {
  display: flex;
}

.instruction {
  background-color: white;
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  overflow: visible;
}
.instruction-closeInst {
  font-size: 3rem;
  padding: 5px;
  text-align: center;
  color: #c03030;
  background-color: #ffe9d4;
  position: sticky;
  left: 90%;
  top: 3rem;
  width: calc(3rem + 4px);
  border-radius: calc((3rem + 10px) / 2);
}
.instruction-closeInst:hover {
  background-color: #c03030;
  color: #ffe9d4;
}
.instruction h3 {
  font-size: 2.5rem;
  margin: 1.5rem 0 0.5rem 0;
  text-align: center;
}
.instruction p {
  font-size: 1.25rem;
  text-align: justify;
}
.instruction ul {
  padding-left: 1rem;
}
.instruction ul li {
  font-size: 1.25rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}
.instruction ul li img {
  margin-right: 2rem;
}
.instruction ul li span {
  font-weight: bolder;
  margin: 0 0 0.5rem 0;
}
.instruction ul li button {
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  width: 40px;
  height: 40px;
  border: 3px solid #27ae60;
  border-radius: 20px;
  margin: 1rem;
}
.instruction ul li button img {
  width: 20px;
  height: 20px;
}

.mainSudoku {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 1024px) {
  .mainSudoku {
    flex-direction: row;
  }
}

.board {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #191d2b;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .board {
    margin: 6rem 0 3rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .board {
    max-width: 80vw;
    margin-right: 8rem;
  }
}

.win {
  width: 337px;
  height: 339px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #191d2b;
}
.win .congrats {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.win .time {
  font-size: 14px;
}
.win .puntaje {
  font-size: 18px;
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 34.2rem;
  height: auto;
}
.row .rowSection {
  display: flex;
  height: 3.8rem;
}
@media screen and (min-width: 768px) {
  .row .rowSection {
    max-width: 54rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .row .rowSection {
    max-width: 54rem;
    height: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .row {
    max-width: 54rem;
  }
}
@media screen and (min-width: 1024px) {
  .row {
    max-width: 54rem;
  }
}

.lineHor {
  height: 2px;
  width: 100%;
  background-color: #191d2b;
  display: inline-flex;
}

.lineVer {
  height: 100%;
  width: 2px;
  background-color: #191d2b;
}

.celd {
  margin: 0;
  display: flex;
  background-color: #d5edff;
  width: 3.8rem;
  height: 3.8rem;
  box-sizing: border-box;
  z-index: 3;
}
.celd .celdSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #faf8f7;
}
.celd .celdSection .checkNumber {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}
.celd .celdSection .checkNumber .blockValue {
  font-size: 2.5rem;
  font-weight: bold;
  color: #191d2b;
}
.celd .celdSection .checkNumber .unBlockValue {
  font-size: 2.5rem;
  color: #191d2b;
}
@media screen and (min-width: 768px) {
  .celd {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .celd {
    width: 5rem;
    height: 5rem;
  }
}

.btnNumList {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 2rem 0 1rem 0;
}
.btnNumList .btnNum {
  font-size: 14px;
  color: white;
  background-color: #191d2b;
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid #191d2b;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .btnNumList .btnNum {
    font-size: 28px;
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .btnNumList .btnNum {
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .btnNumList {
    margin: 2rem 0 3rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .btnNumList {
    display: flex;
    flex-wrap: wrap;
    margin: 6rem 0 0 0;
    height: 48rem;
    width: 30vw;
  }
}

.btnModoList {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 2rem 0 0 0;
}
.btnModoList .btnModo {
  background-color: #fff;
  height: 50px;
  width: 50px;
  font-size: 19px;
  border: 1px solid #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
.btnModoList .btnModo .img {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .btnModoList .btnModo .img {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .btnModoList .btnModo {
    height: 70px;
    width: 70px;
    border-radius: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .btnModoList {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .btnModoList {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 5rem 0 8rem;
    height: 48rem;
    width: 30rem;
  }
}

.numList {
  margin: 0;
  width: 33.333333%;
  height: 33.33333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.numList .posibleNum {
  font-size: 1rem;
  color: #191d2b;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

/*
1. Position
2. Box model
3. Typographic
4. Visuals
5. Miscelaneos
*/
/*--BREAKPOINTS--*/
/*--MAIN-FONT--*/
/*--GAME-FONT--*/
/*--VARIABLES-UI--*/
/*--VARIBLES-WORDLE--*/
/*--SUDOKU-VARIABLES--*/
/*--MEMORY-VARIABLES--*/
.buscaminasApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.buscaminas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buscaminas-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
}
.buscaminas-instructionDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0px;
  background-color: white;
  max-height: calc(100vh - 10rem);
  z-index: 5;
  scroll-behavior: smooth;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .buscaminas {
    width: 70vw;
  }
}
@media screen and (min-width: 1024px) {
  .buscaminas {
    width: 50vw;
  }
}

.mainBuscaminas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mainBuscaminas {
    max-width: 70vw;
  }
}
@media screen and (min-width: 1024px) {
  .mainBuscaminas {
    width: 50vw;
    flex-direction: row;
  }
}

.boardBuscaminas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border-top: 4px solid #999999;
  border-left: 4px solid #999999;
  border-bottom: 4px solid #FFFFFF;
  border-right: 4px solid #FFFFFF;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .boardBuscaminas {
    margin: 6rem 0 3rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .boardBuscaminas {
    max-width: 80vw;
    margin-right: 8rem;
  }
}

.rowBuscaminas {
  width: auto;
  height: 25px;
  display: flex;
}

.celdBuscaminas {
  width: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #E5E5E5;
  box-sizing: border-box;
  border-top: 3px solid #FFFFFF;
  border-left: 3px solid #FFFFFF;
  border-bottom: 3px solid #999999;
  border-right: 3px solid #999999;
}

.ocultar {
  display: none;
}

.mostrar {
  display: flex;
}

.win-buscaminas {
  width: 337px;
  height: 339px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #191d2b;
}
.win-buscaminas .congrats {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.win-buscaminas .time {
  font-size: 14px;
}

.grid {
  display: grid;
  /*column-gap: 1rem;
  row-gap: 0.5rem;
      max-height: 500px;
  max-width: 500px; */
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.grid12 {
  grid-template-columns: repeat(6, 5.95rem);
  grid-auto-rows: 5.95rem;
  height: 25rem;
}

.grid18 {
  grid-template-columns: repeat(6, 5.95rem);
  grid-auto-rows: 5.95rem;
  height: 37.5rem;
}

.grid32 {
  /*grid-template-columns: 13% 13% 13% 13% 13% 13% 13% 13%*/
  grid-template-columns: repeat(8, 3.6rem);
  grid-auto-rows: 3.6rem;
  height: 32.2rem;
}

.card {
  border-radius: 0.5rem;
  background-color: #ffe9d4;
  border: 0.3rem solid #d9d9d9;
  cursor: pointer;
  aspect-ratio: 1/1;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-wrong {
  background-color: #c03030;
}

.card-correct {
  background-color: #27ae60;
}

.card-image-back {
  opacity: 0;
}

.card-image, .card-image-back {
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ganaste {
  width: 50rem;
  font-size: 4rem;
  color: #faf8f7;
  text-align: center;
  background-color: #191d2b;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.memory-buttons {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  display: grid;
  height: auto;
  text-align: center;
}

.memory-buttons h2 {
  grid-column: 1/4;
}

.buttons-hide {
  display: none;
}

.button:focus {
  background-color: #f7931a;
}

/*# sourceMappingURL=App.css.map */
